In [ ]:
#!pip install pandas

In [1]:
import pandas as pd

In [ ]:
#dir(pd.Series)

## Create A `Series` Object from A Python List

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

s1 = pd.Series(ice_cream)
s1

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
s = [4, 8, 15, 16, 23, 42]
pd.Series(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
pd.Series(data = fruits, index=weekdays)


#pd.Series(fruits, weekdays)
#pd.Series(data = fruits, index = weekdays)
#pd.Series(fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

## Create A `Series` Object from a Dictionary

In [36]:
german_dict = {"Cat" : "Katze",
           "Dog" : "Hund",
           "Snake" : "Schlange",
             "Horse":"Pferd",
              "Queue":"Schlange"}

gseries = pd.Series(german_dict)
gseries

Cat         Katze
Dog          Hund
Snake    Schlange
Horse       Pferd
Queue    Schlange
dtype: object

## Import `Series` with the `read_csv` Method

In [7]:
df = pd.read_csv('Universities.csv')
df

            Univ   SAT  Top10  Accept  SFRatio  Expenses  GradRate
0          Brown  1310     89      22       13     22704        94
1        CalTech  1415    100      25        6     63575        81
2            CMU  1260     62      59        9     25026        72
3       Columbia  1310     76      24       12     31510        88
4        Cornell  1280     83      33       13     21864        90
5      Dartmouth  1340     89      23       10     32162        95
6           Duke  1315     90      30       12     31585        95
7     Georgetown  1255     74      24       12     20126        92
8        Harvard  1400     91      14       11     39525        97
9   JohnsHopkins  1305     75      44        7     58691        87
10           MIT  1380     94      30       10     34870        91
11  Northwestern  1260     85      39       11     28052        89
12     NotreDame  1255     81      42       13     15122        94
13     PennState  1081     38      54       18     10185        80
14     Princeton  1375     91      14        8     30220        95
15        Purdue  1005     28      90       19      9066        69
16      Stanford  1360     90      20       12     36450        93
17      TexasA&M  1075     49      67       25      8704        67
18    UCBerkeley  1240     95      40       17     15140        78
19      UChicago  1290     75      50       13     38380        87
20     UMichigan  1180     65      68       16     15470        85
21         UPenn  1285     80      36       11     27553        90
22           UVA  1225     77      44       14     13349        92
23    UWisconsin  1085     40      69       15     11857        71
24          Yale  1375     95      19       11     43514        96

In [8]:
type(df['Univ'])

pandas.core.series.Series

In [9]:
univ = pd.read_csv('Universities.csv', usecols = ['Univ'],squeeze=True)
type(univ)
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

## Intro to Attributes

In [31]:
gseries

Cat         Katze
Dog          Hund
Snake    Schlange
Horse       Pferd
Queue    Schlange
dtype: object

In [11]:
gseries.values

array(['Katze', 'Hund', 'Schlange', 'Pferd', 'Schlange'], dtype=object)

In [12]:
gseries.index

Index(['Cat', 'Dog', 'Snake', 'Horse', 'Queue'], dtype='object')

In [13]:
gseries.dtype

dtype('O')

In [14]:
gseries.is_unique

False

In [15]:
univ.is_unique

True

In [16]:
univ.size

25

## Built-In Functions

## The `.head()` and `.tail()` Methods

In [18]:
univ.head(3)

0      Brown
1    CalTech
2        CMU
Name: Univ, dtype: object

In [20]:
univ.tail()

20     UMichigan
21         UPenn
22           UVA
23    UWisconsin
24          Yale
Name: Univ, dtype: object

#### Sorting

In [32]:
gseries

Cat         Katze
Dog          Hund
Snake    Schlange
Horse       Pferd
Queue    Schlange
dtype: object

In [38]:
gser_sorted = gseries.sort_index(ascending=False)

In [39]:
gser_sorted

Snake    Schlange
Queue    Schlange
Horse       Pferd
Dog          Hund
Cat         Katze
dtype: object

In [34]:
gseries

Cat         Katze
Dog          Hund
Snake    Schlange
Horse       Pferd
Queue    Schlange
dtype: object

In [25]:
gseries.sort_values(ascending=False)

Snake    Schlange
Queue    Schlange
Horse       Pferd
Cat         Katze
Dog          Hund
dtype: object

## Membership Test - `in` Keyword

In [40]:
"Cat" in gseries.values

False

In [41]:
"Cat" in gseries.index

True

## Extract Values by Index Position

In [42]:
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [43]:
univ[1]

'CalTech'

In [46]:
univ[[10, 12, 16]]

10          MIT
12    NotreDame
16     Stanford
Name: Univ, dtype: object

In [44]:
univ[3:5]

3    Columbia
4     Cornell
Name: Univ, dtype: object

In [45]:
univ[:5]

0       Brown
1     CalTech
2         CMU
3    Columbia
4     Cornell
Name: Univ, dtype: object

## Extract Values by Index Label

In [49]:
gseries['Cat']

'Katze'

## The `.get()` Method on a `Series`

In [50]:
gseries.get(key = ["Cat", "Dog"])

Cat    Katze
Dog     Hund
dtype: object

In [51]:
gseries.get(key = 'Elephant')

In [52]:
gseries.get(key = "Elephant", default = "Not in dict")

'Not in dict'

## Math Methods on `Series` Objects

In [53]:
ser = pd.read_csv("Salaries.csv", usecols = ['salary'], squeeze = True)
ser.head(13)

0     186960
1      93000
2     110515
3     131205
4     104800
5     122400
6      81285
7     126300
8      94350
9      57800
10    128250
11    134778
12     88000
Name: salary, dtype: int64

In [ ]:
#ser = pd.Series([10,20,34])

In [55]:
ser.count()

78

In [56]:
ser.sum()

8425855

In [57]:
ser.mean()

108023.78205128205

In [58]:
ser.std()

28293.661022264165

In [59]:
ser.min()

57800

In [60]:
ser.max()

186960

In [61]:
ser.median()

104671.0

In [62]:
ser.mode()

0    92000
dtype: int64

In [54]:
ser.describe()

count        78.000000
mean     108023.782051
std       28293.661022
min       57800.000000
25%       88612.500000
50%      104671.000000
75%      126774.750000
max      186960.000000
Name: salary, dtype: float64

## The `.idxmax()` and `.idxmin()` Methods

In [63]:
ser.max()

186960

In [65]:
ser.min()

57800

In [64]:
ser.idxmax()

0

In [ ]:
ser[0]

In [66]:
ser.idxmin()

9

In [67]:
ser[9]

57800

## The `.value_counts()` Method

In [68]:
jobs = pd.read_csv("Salaries.csv", usecols = ['rank'], squeeze = True)
jobs

0          Prof
1          Prof
2          Prof
3          Prof
4          Prof
        ...
73         Prof
74    AssocProf
75         Prof
76         Prof
77         Prof
Name: rank, Length: 78, dtype: object

In [69]:
jobs.count()

78

In [70]:
jobs.value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [71]:
jobs.value_counts(ascending = True)

AssocProf    13
AsstProf     19
Prof         46
Name: rank, dtype: int64

## The `.apply()` Method

In [72]:
def perform(number):
    if number < 60000:
        return "OK"
    elif number >= 60000 and number < 120000:
        return "Satisfactory"
    else:
        return "Excellent!"

In [73]:
ser.head()

0    186960
1     93000
2    110515
3    131205
4    104800
Name: salary, dtype: int64

In [74]:
ser.apply(perform)

0       Excellent!
1     Satisfactory
2     Satisfactory
3       Excellent!
4     Satisfactory
          ...
73    Satisfactory
74    Satisfactory
75      Excellent!
76    Satisfactory
77    Satisfactory
Name: salary, Length: 78, dtype: object

In [ ]:
ser.apply(perform).tail()

In [ ]:
ser.apply(lambda sal : sal + 0.15*sal)